election_data_spec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="1.0">
    <!-- ========== Roots ========== -->
    <xs:element name="ElectionReport" type="ElectionReport" />
    <!-- ========== Primitives ========== -->
    <xs:simpleType name="HtmlColorString">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-f]{6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ShortString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="16" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TimeWithZone">
        <xs:restriction base="xs:time">
            <xs:pattern value="(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]|(24:00:00))(Z|[+-]((0[0-9]|1[0-3]):[0-5][0-9]|14:00))" />
        </xs:restriction>
    </xs:simpleType>
    <!-- ========== Enumerations ========== -->
    <xs:simpleType name="BallotMeasureType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ballot-measure" />
            <xs:enumeration value="initiative" />
            <xs:enumeration value="referendum" />
            <xs:enumeration value="other" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CandidatePostElectionStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="advanced-to-runoff" />
            <xs:enumeration value="projected-winner" />
            <xs:enumeration value="winner" />
            <xs:enumeration value="withdrawn" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CandidatePreElectionStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="filed" />
            <xs:enumeration value="qualified" />
            <xs:enumeration value="withdrawn" />
            <xs:enumeration value="write-in" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountItemStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="completed" />
            <xs:enumeration value="in-process" />
            <xs:enumeration value="not-processed" />
            <xs:enumeration value="unknown" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountItemType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="absentee" />
            <xs:enumeration value="absentee-fwab" />
            <xs:enumeration value="absentee-in-person" />
            <xs:enumeration value="absentee-mail" />
            <xs:enumeration value="early" />
            <xs:enumeration value="election-day" />
            <xs:enumeration value="provisional" />
            <xs:enumeration value="total" />
            <xs:enumeration value="uocava" />
            <xs:enumeration value="write-in" />
            <xs:enumeration value="other" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DayType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="all" />
            <xs:enumeration value="sunday" />
            <xs:enumeration value="monday" />
            <xs:enumeration value="tuesday" />
            <xs:enumeration value="wednesday" />
            <xs:enumeration value="thursday" />
            <xs:enumeration value="friday" />
            <xs:enumeration value="saturday" />
            <xs:enumeration value="weekday" />
            <xs:enumeration value="weekend" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeviceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="electronic" />
            <xs:enumeration value="lever" />
            <xs:enumeration value="manual-count" />
            <xs:enumeration value="mixed-systems" />
            <xs:enumeration value="opscan-central" />
            <xs:enumeration value="opscan-precinct" />
            <xs:enumeration value="punch-card" />
            <xs:enumeration value="unknown" />
            <xs:enumeration value="other" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ElectionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="general" />
            <xs:enumeration value="partisan-primary-closed" />
            <xs:enumeration value="partisan-primary-open" />
            <xs:enumeration value="primary" />
            <xs:enumeration value="runoff" />
            <xs:enumeration value="special" />
            <xs:enumeration value="other" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GeoSpatialFormat">
        <xs:restriction base="xs:string">
            <xs:enumeration value="geo-json" />
            <xs:enumeration value="gml" />
            <xs:enumeration value="kml" />
            <xs:enumeration value="shp" />
            <xs:enumeration value="wkt" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IdentifierType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fips" />
            <xs:enumeration value="local-level" />
            <xs:enumeration value="national-level" />
            <xs:enumeration value="ocd-id" />
            <xs:enumeration value="state-level" />
            <xs:enumeration value="other" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OfficeTermType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="full-term" />
            <xs:enumeration value="unexpired-term" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportDetailLevel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="precinct-level" />
            <xs:enumeration value="summary-contest" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportingUnitType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ballot-batch" />
            <xs:enumeration value="ballot-style-area" />
            <xs:enumeration value="borough" />
            <xs:enumeration value="city" />
            <xs:enumeration value="city-council" />
            <xs:enumeration value="combined-precinct" />
            <xs:enumeration value="congressional" />
            <xs:enumeration value="country" />
            <xs:enumeration value="county" />
            <xs:enumeration value="county-council" />
            <xs:enumeration value="drop-box" />
            <xs:enumeration value="judicial" />
            <xs:enumeration value="municipality" />
            <xs:enumeration value="polling-place" />
            <xs:enumeration value="precinct" />
            <xs:enumeration value="school" />
            <xs:enumeration value="special" />
            <xs:enumeration value="split-precinct" />
            <xs:enumeration value="state" />
            <xs:enumeration value="state-house" />
            <xs:enumeration value="state-senate" />
            <xs:enumeration value="town" />
            <xs:enumeration value="township" />
            <xs:enumeration value="utility" />
            <xs:enumeration value="village" />
            <xs:enumeration value="vote-center" />
            <xs:enumeration value="ward" />
            <xs:enumeration value="water" />
            <xs:enumeration value="other" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResultsStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="certified" />
            <xs:enumeration value="correction" />
            <xs:enumeration value="pre-election" />
            <xs:enumeration value="recount" />
            <xs:enumeration value="unofficial-complete" />
            <xs:enumeration value="unofficial-partial" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VoteVariation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1-of-m" />
            <xs:enumeration value="approval" />
            <xs:enumeration value="borda" />
            <xs:enumeration value="cumulative" />
            <xs:enumeration value="majority" />
            <xs:enumeration value="n-of-m" />
            <xs:enumeration value="plurality" />
            <xs:enumeration value="proportional" />
            <xs:enumeration value="range" />
            <xs:enumeration value="rcv" />
            <xs:enumeration value="super-majority" />
            <xs:enumeration value="other" />
        </xs:restriction>
    </xs:simpleType>
    <!-- ========== Elements ========== -->
    <xs:complexType name="AnnotatedString">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="annotation" type="ShortString" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="BallotMeasureContest">
        <xs:complexContent>
            <xs:extension base="Contest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ConStatement" type="InternationalizedText" />
                    <xs:element minOccurs="0" name="EffectOfAbstain" type="InternationalizedText" />
                    <xs:element minOccurs="0" name="FullText" type="InternationalizedText" />
                    <xs:element minOccurs="0" name="InfoUri" type="xs:anyURI" />
                    <xs:element minOccurs="0" name="PassageThreshold" type="InternationalizedText" />
                    <xs:element minOccurs="0" name="ProStatement" type="InternationalizedText" />
                    <xs:element minOccurs="0" name="SummaryText" type="InternationalizedText" />
                    <xs:element minOccurs="0" name="Type" type="BallotMeasureType" />
                    <xs:element minOccurs="0" name="OtherType" type="xs:string" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BallotMeasureSelection">
        <xs:complexContent>
            <xs:extension base="BallotSelection">
                <xs:sequence>
                    <xs:element name="Selection" type="InternationalizedText" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="BallotSelection">
        <xs:sequence>
            <xs:element minOccurs="0" name="SequenceOrder" type="xs:integer" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VoteCountsCollection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="VoteCounts" type="VoteCounts" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="objectId" type="xs:ID" use="required" />
    </xs:complexType>
    <xs:complexType name="BallotStyle">
        <xs:sequence>
            <xs:element minOccurs="0" name="ExternalIdentifiers" type="ExternalIdentifiers" />
            <xs:element name="GpUnitIds" type="xs:IDREFS" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ImageUri" type="xs:anyURI" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OrderedContest" type="OrderedContest" />
            <xs:element minOccurs="0" name="PartyIds" type="xs:IDREFS" />
        </xs:sequence>
        <xs:attribute name="objectId" type="xs:ID" use="required" />
    </xs:complexType>
    <xs:complexType name="Candidate">
        <xs:sequence>
            <xs:element name="BallotName" type="InternationalizedText" />
            <xs:element minOccurs="0" name="ExternalIdentifiers" type="ExternalIdentifiers" />
            <xs:element minOccurs="0" name="FileDate" type="xs:date" />
            <xs:element minOccurs="0" name="IsIncumbent" type="xs:boolean" />
            <xs:element minOccurs="0" name="IsTopTicket" type="xs:boolean" />
            <xs:element minOccurs="0" name="PartyId" type="xs:IDREF" />
            <xs:element minOccurs="0" name="PersonId" type="xs:IDREF" />
            <xs:element minOccurs="0" name="PostElectionStatus" type="CandidatePostElectionStatus" />
            <xs:element minOccurs="0" name="PreElectionStatus" type="CandidatePreElectionStatus" />
        </xs:sequence>
        <xs:attribute name="objectId" type="xs:ID" use="required" />
    </xs:complexType>
    <xs:complexType name="CandidateContest">
        <xs:complexContent>
            <xs:extension base="Contest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="NumberElected" type="xs:integer" />
                    <xs:element minOccurs="0" name="OfficeIds" type="xs:IDREFS" />
                    <xs:element minOccurs="0" name="PrimaryPartyIds" type="xs:IDREFS" />
                    <xs:element name="VotesAllowed" type="xs:integer" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CandidateSelection">
        <xs:complexContent>
            <xs:extension base="BallotSelection">
                <xs:sequence>
                    <xs:element name="CandidateIds" type="xs:IDREFS" />
                    <xs:element minOccurs="0" name="EndorsementPartyIds" type="xs:IDREFS" />
                    <xs:element minOccurs="0" name="IsWriteIn" type="xs:boolean" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Coalition">
        <xs:complexContent>
            <xs:extension base="Party">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ContestIds" type="xs:IDREFS" />
                    <xs:element minOccurs="0" name="PartyIds" type="xs:IDREFS" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ContactInformation">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddressLine" type="xs:string" />
            <xs:element maxOccurs="1" minOccurs="0" name="Directions" type="InternationalizedText" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Email" type="AnnotatedString" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Fax" type="AnnotatedString" />
            <xs:element maxOccurs="1" minOccurs="0" name="LatLng">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="Latitude" type="xs:float" />
                        <xs:element maxOccurs="1" minOccurs="1" name="Longitude" type="xs:float" />
                        <xs:element maxOccurs="1" minOccurs="0" name="Source" type="xs:string" />
                    </xs:sequence>
                    <xs:attribute name="label" type="xs:string" />
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Name" type="xs:string" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Phone" type="AnnotatedString" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Schedule" type="Schedule" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Uri" type="xs:anyURI" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
    </xs:complexType>
    <xs:complexType abstract="true" name="Contest">
        <xs:sequence>
            <xs:element minOccurs="0" name="Abbreviation" type="xs:string" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BallotSelection" type="BallotSelection" />
            <xs:element minOccurs="0" name="BallotSubTitle" type="InternationalizedText" />
            <xs:element minOccurs="0" name="BallotTitle" type="InternationalizedText" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CountStatus" type="CountStatus" />
            <xs:element name="ElectoralDistrictId" type="xs:IDREF" />
            <xs:element minOccurs="0" name="ExternalIdentifiers" type="ExternalIdentifiers" />
            <xs:element minOccurs="0" name="HasRotation" type="xs:boolean" />
            <xs:element name="Name" type="xs:string" />
            <xs:element minOccurs="0" name="SequenceOrder" type="xs:integer" />
            <xs:element minOccurs="0" name="SubUnitsReported" type="xs:integer" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SummaryCounts" type="SummaryCounts" />
            <xs:element minOccurs="0" name="TotalSubUnits" type="xs:integer" />
            <xs:element minOccurs="0" name="VoteVariation" type="VoteVariation" />
            <xs:element minOccurs="0" name="OtherVoteVariation" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="objectId" type="xs:ID" use="required" />
    </xs:complexType>
    <xs:complexType name="CountStatus">
        <xs:sequence>
            <xs:element name="Status" type="CountItemStatus" />
            <xs:element name="Type" type="CountItemType" />
            <xs:element minOccurs="0" name="OtherType" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType abstract="true" name="Counts">
        <xs:sequence>
            <xs:element minOccurs="0" name="Device" type="Device" />
            <xs:element minOccurs="0" name="GpUnitId" type="xs:IDREF" />
            <xs:element minOccurs="0" name="IsSuppressedForPrivacy" type="xs:boolean" />
            <xs:element minOccurs="0" name="Type" type="CountItemType" />
            <xs:element minOccurs="0" name="OtherType" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Device">
        <xs:sequence>
            <xs:element minOccurs="0" name="Manufacturer" type="xs:string" />
            <xs:element minOccurs="0" name="Model" type="xs:string" />
            <xs:element minOccurs="0" name="Type" type="DeviceType" />
            <xs:element minOccurs="0" name="OtherType" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Election">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BallotStyleCollection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="BallotStyle" type="BallotStyle" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CandidateCollection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="Candidate" type="Candidate" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ContactInformation" type="ContactInformation" />
            <xs:element maxOccurs="1" minOccurs="0" name="ContestCollection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="Contest" type="Contest" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CountStatus" type="CountStatus" />
            <xs:element name="ElectionScopeId" type="xs:IDREF" />
            <xs:element minOccurs="0" name="ExternalIdentifiers" type="ExternalIdentifiers" />
            <xs:element name="Name" type="InternationalizedText" />
            <xs:element name="StartDate" type="xs:date" />
            <xs:element name="EndDate" type="xs:date" />
            <xs:element name="Type" type="ElectionType" />
            <xs:element minOccurs="0" name="OtherType" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ElectionAdministration">
        <xs:sequence>
            <xs:element minOccurs="0" name="ContactInformation" type="ContactInformation" />
            <xs:element minOccurs="0" name="ElectionOfficialPersonIds" type="xs:IDREFS" />
            <xs:element minOccurs="0" name="Name" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ElectionReport">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Election" type="Election" />
            <xs:element minOccurs="0" name="ExternalIdentifiers" type="ExternalIdentifiers" />
            <xs:element name="Format" type="ReportDetailLevel" />
            <xs:element name="GeneratedDate" type="xs:dateTime" />
            <xs:element maxOccurs="1" minOccurs="0" name="GpUnitCollection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="GpUnit" type="GpUnit" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Issuer" type="xs:string" />
            <xs:element name="IssuerAbbreviation" type="xs:string" />
            <xs:element minOccurs="0" name="IsTest" type="xs:boolean" />
            <xs:element minOccurs="0" name="Notes" type="xs:string" />
            <xs:element maxOccurs="1" minOccurs="0" name="OfficeCollection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="Office" type="Office" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="OfficeGroup" type="OfficeGroup" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PartyCollection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="Party" type="Party" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PersonCollection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="Person" type="Person" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SequenceStart" type="xs:integer" />
            <xs:element name="SequenceEnd" type="xs:integer" />
            <xs:element name="Status" type="ResultsStatus" />
            <xs:element minOccurs="0" name="TestType" type="xs:string" />
            <xs:element name="VendorApplicationId" type="xs:string" />
            </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExternalIdentifiers">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="ExternalIdentifier">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Type" type="IdentifierType" />
                        <xs:element minOccurs="0" name="OtherType" type="xs:string" />
                        <xs:element name="Value" type="xs:string" />
                    </xs:sequence>
                    <xs:attribute name="label" type="xs:string" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
    </xs:complexType>
    <xs:complexType abstract="true" name="GpUnit">
        <xs:sequence>
            <xs:element minOccurs="0" name="ComposingGpUnitIds" type="xs:IDREFS" />
            <xs:element minOccurs="0" name="ExternalIdentifiers" type="ExternalIdentifiers" />
            <xs:element minOccurs="0" name="Name" type="xs:string" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SummaryCounts" type="SummaryCounts" />
        </xs:sequence>
        <xs:attribute name="objectId" type="xs:ID" use="required" />
    </xs:complexType>
    <xs:complexType name="Hours">
        <xs:sequence>
            <xs:element minOccurs="0" name="Day" type="DayType" />
            <xs:element name="StartTime" type="TimeWithZone" />
            <xs:element name="EndTime" type="TimeWithZone" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="InternationalizedText">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Text" type="LanguageString" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="LanguageString">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="language" type="xs:language" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Office">
        <xs:sequence>
            <xs:element minOccurs="0" name="ContactInformation" type="ContactInformation" />
            <xs:element minOccurs="0" name="ElectoralDistrictId" type="xs:IDREF" />
            <xs:element minOccurs="0" name="ExternalIdentifiers" type="ExternalIdentifiers" />
            <xs:element minOccurs="0" name="FilingDeadline" type="xs:date" />
            <xs:element minOccurs="0" name="IsPartisan" type="xs:boolean" />
            <xs:element name="Name" type="InternationalizedText" />
            <xs:element minOccurs="0" name="OfficeHolderPersonIds" type="xs:IDREFS" />
            <xs:element minOccurs="0" name="Term">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="StartDate" type="xs:date" />
                        <xs:element minOccurs="0" name="EndDate" type="xs:date" />
                        <xs:element minOccurs="0" name="Type" type="OfficeTermType" />
                    </xs:sequence>
                    <xs:attribute name="label" type="xs:string" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="objectId" type="xs:ID" use="required" />
    </xs:complexType>
    <xs:complexType name="OfficeGroup">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element minOccurs="0" name="OfficeIds" type="xs:IDREFS" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubOfficeGroup" type="OfficeGroup" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="OrderedContest">
        <xs:sequence>
            <xs:element name="ContestId" type="xs:IDREF" />
            <xs:element minOccurs="0" name="OrderedBallotSelectionIds" type="xs:IDREFS" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party">
        <xs:sequence>
            <xs:element minOccurs="0" name="Abbreviation" type="xs:string" />
            <xs:element minOccurs="0" name="Color" type="HtmlColorString" />
            <xs:element minOccurs="0" name="ExternalIdentifiers" type="ExternalIdentifiers" />
            <xs:element minOccurs="0" name="LogoUri" type="xs:anyURI" />
            <xs:element name="Name" type="InternationalizedText" />
        </xs:sequence>
        <xs:attribute name="objectId" type="xs:ID" use="required" />
    </xs:complexType>
    <xs:complexType name="PartyContest">
        <xs:complexContent>
            <xs:extension base="Contest" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PartyRegistration">
        <xs:sequence>
            <xs:element name="Count" type="xs:integer" />
            <xs:element name="PartyId" type="xs:IDREF" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartySelection">
        <xs:complexContent>
            <xs:extension base="BallotSelection">
                <xs:sequence>
                    <xs:element name="PartyIds" type="xs:IDREFS" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Person">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ContactInformation" type="ContactInformation" />
            <xs:element minOccurs="0" name="DateOfBirth" type="xs:date" />
            <xs:element minOccurs="0" name="FirstName" type="xs:string" />
            <xs:element minOccurs="0" name="FullName" type="InternationalizedText" />
            <xs:element minOccurs="0" name="Gender" type="xs:string" />
            <xs:element minOccurs="0" name="LastName" type="xs:string" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MiddleName" type="xs:string" />
            <xs:element minOccurs="0" name="Nickname" type="xs:string" />
            <xs:element minOccurs="0" name="PartyId" type="xs:IDREF" />
            <xs:element minOccurs="0" name="Prefix" type="xs:string" />
            <xs:element minOccurs="0" name="Profession" type="InternationalizedText" />
            <xs:element minOccurs="0" name="Suffix" type="xs:string" />
            <xs:element minOccurs="0" name="Title" type="InternationalizedText" />
        </xs:sequence>
        <xs:attribute name="objectId" type="xs:ID" use="required" />
    </xs:complexType>
    <xs:complexType name="ReportingDevice">
        <xs:complexContent>
            <xs:extension base="GpUnit">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Device" type="Device" />
                    <xs:element minOccurs="0" name="SerialNumber" type="xs:string" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReportingUnit">
        <xs:complexContent>
            <xs:extension base="GpUnit">
                <xs:sequence>
                    <xs:element minOccurs="0" name="AuthorityIds" type="xs:IDREFS" />
                    <xs:element minOccurs="0" name="ContactInformation" type="ContactInformation" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="CountStatus" type="CountStatus" />
                    <xs:element minOccurs="0" name="ElectionAdministration" type="ElectionAdministration" />
                    <xs:element minOccurs="0" name="IsDistricted" type="xs:boolean" />
                    <xs:element minOccurs="0" name="IsMailOnly" type="xs:boolean" />
                    <xs:element minOccurs="0" name="Number" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="PartyRegistration" type="PartyRegistration" />
                    <xs:element minOccurs="0" name="SpatialDimension" type="SpatialDimension" />
                    <xs:element minOccurs="0" name="SubUnitsReported" type="xs:integer" />
                    <xs:element minOccurs="0" name="TotalSubUnits" type="xs:integer" />
                    <xs:element name="Type" type="ReportingUnitType" />
                    <xs:element minOccurs="0" name="OtherType" type="xs:string" />
                    <xs:element minOccurs="0" name="VotersParticipated" type="xs:integer" />
                    <xs:element minOccurs="0" name="VotersRegistered" type="xs:integer" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RetentionContest">
        <xs:complexContent>
            <xs:extension base="BallotMeasureContest">
                <xs:sequence>
                    <xs:element name="CandidateId" type="xs:IDREF" />
                    <xs:element minOccurs="0" name="OfficeId" type="xs:IDREF" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Schedule">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Hours" type="Hours" />
            <xs:element minOccurs="0" name="IsOnlyByAppointment" type="xs:boolean" />
            <xs:element minOccurs="0" name="IsOrByAppointment" type="xs:boolean" />
            <xs:element minOccurs="0" name="IsSubjectToChange" type="xs:boolean" />
            <xs:element minOccurs="0" name="StartDate" type="xs:date" />
            <xs:element minOccurs="0" name="EndDate" type="xs:date" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="SpatialDimension">
        <xs:sequence>
            <xs:element minOccurs="0" name="MapUri" type="xs:anyURI" />
            <xs:element minOccurs="0" name="SpatialExtent" type="SpatialExtent" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpatialExtent">
        <xs:sequence>
            <xs:element name="Coordinates" type="xs:string" />
            <xs:element name="Format" type="GeoSpatialFormat" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SummaryCounts">
        <xs:complexContent>
            <xs:extension base="Counts">
                <xs:sequence>
                    <xs:element minOccurs="0" name="BallotsCast" type="xs:integer" />
                    <xs:element minOccurs="0" name="BallotsOutstanding" type="xs:integer" />
                    <xs:element minOccurs="0" name="BallotsRejected" type="xs:integer" />
                    <xs:element minOccurs="0" name="Overvotes" type="xs:integer" />
                    <xs:element minOccurs="0" name="Undervotes" type="xs:integer" />
                    <xs:element minOccurs="0" name="WriteIns" type="xs:integer" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="VoteCounts">
        <xs:complexContent>
            <xs:extension base="Counts">
                <xs:sequence>
                    <xs:element name="Count" type="xs:float" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
